body {
    margin: 0px;
    background-color: #e8ebef;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(
      to right,
      rgb(76, 21, 79),
      rgb(33, 9, 78),
      rgb(20, 20, 70),
      rgb(9, 9, 78),
      rgb(8, 8, 51),
      rgb(7, 7, 41),
      rgb(7, 7, 41),
      rgb(8, 8, 51),
      rgb(9, 9, 78),
      rgb(33, 9, 78),
      rgb(25, 4, 63)
    );
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    margin: 14px;
    padding: 4px 6px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 5px;
  }
  @media screen and (max-width: 422px) {
    li a {
      margin: 5px;
    }
  }


  table, td, th {
    border: 1px solid black;
    text-align: center;
  }
  table{
      border-collapse: collapse;
  }
  tr{
      height: 40px;
  }
  th{
      height: 50px;
  }
 